body{
    background-color: rgb(249, 249, 255);
    font-size: 30px;
}
.content{
    margin: 10px;
    padding: 30px;
}
h2{
    font-size: 30px;
    
}
h3{
    font-size: 30px;
    font-weight: 900;
    text-decoration-style: wavy;
}

footer{
    background-color:rgb(104, 100, 100);
    padding: 30px;
}
.btn{
    border-radius: 10px;
    background-color: rgb(134, 122, 122);
    color: aliceblue;
    align-items: center;
    height: 30px;
    width: 100px;
}
.btn:hover{
    background-color: aliceblue;
    color: rgb(192, 182, 182);
    
}